 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Open+Sans:wght@400;800&family=Poppins:wght@500;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
/* nav container styles */
nav{
    background: #FFF;
}
.nav-container{
    display: flex;
    margin: 50px auto 0;
    max-width: 1400px;
    min-height: 50px;
}
.nav-logo-part img{
    width:80px;
    object-fit: contain;
    margin-right: 15px;
}
.nav-logo-part p{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    width: 150px;
}
.nav-logo-part{
    width: 50%;
    display: flex;
}
.only-g{
    color: #FF42A5;
}
.nav-content{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-content a{
  text-decoration: none;
  color: #3C354F;
  font-size: 1.2rem;
  font-weight: 500;
}
.nav-content-inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 17px;
    width: 262px;
    height: 56px;
    border-radius: 2px;
    background: rgba(11, 2, 35, 0.10);
    
}