 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Open+Sans:wght@400;800&family=Poppins:wght@500;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
/* nav container styles */
nav{
    background: #FFF;
}
.nav-container{
    display: flex;
    margin: 50px auto 0;
    max-width: 1400px;
    min-height: 50px;
}
.nav-logo-part img{
    width:80px;
    object-fit: contain;
    margin-right: 15px;
}
.nav-logo-part p{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    width: 150px;
}
.nav-logo-part{
    width: 50%;
    display: flex;
}
.only-g{
    color: #FF42A5;
}
.nav-content{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-content a{
  text-decoration: none;
  color: #3C354F;
  font-size: 1.2rem;
  font-weight: 500;
}
.nav-content-inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 17px;
    width: 262px;
    height: 56px;
    border-radius: 2px;
    background: rgba(11, 2, 35, 0.10);
    
}
/* nav bar style end */

/* banner section styles start */
.banner{
    width: 100%;
    margin: 0 auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    text-align: left;
}
.banner-content{
    background-image: url("../images/Group-14.png");
    background-repeat: no-repeat;
    /* background-image: contain; */
     width: 50%;
     text-align: center;
     min-height: 500px;
     
}
.play-h3{
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 60px;
}
.goat-h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   font-size:5.9rem;
   font-weight: 800;
   margin: 0;
}
.banner-img{
    width: 50%;
    padding: 20px 20px;
    /* margin-top: 0; */
}
.banner-img img{
    width: 70%;
    height: auto;
}
.goat-paragraph{
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}
.pink-button{
    padding: 15px 25px;
    border-radius: 48px;
    background:  #FF42A5;
    border: none;
    color: #FFF;
}
.blue-button{
    padding: 15px 30px;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
}