 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Open+Sans:wght@400;800&family=Poppins:wght@500;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
/* nav container styles */
nav{
    background: #FFF;
}
.nav-container{
    display: flex;
    margin: 50px auto 0;
    max-width: 1400px;
    min-height: 50px;
}
.nav-logo-part img{
    width:80px;
    object-fit: contain;
    margin-right: 15px;
}
.nav-logo-part p{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    width: 150px;
}
.nav-logo-part{
    width: 50%;
    display: flex;
}
.only-g{
    color: #FF42A5;
}
.nav-content{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-content a{
  text-decoration: none;
  color: #3C354F;
  font-size: 1.2rem;
  font-weight: 500;
}
.nav-content-inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 17px;
    width: 262px;
    height: 56px;
    border-radius: 2px;
    background: rgba(11, 2, 35, 0.10);
    
}
/* nav bar style end */

/* banner section styles start */
.banner{
    width: 100%;
    margin: 0 auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    text-align: left;
}
.banner-content{
    background-image: url("../images/Group-14.png");
    background-repeat: no-repeat;
    /* background-image: contain; */
     width: 50%;
     text-align: center;
     min-height: 500px;
     
}
.play-h3{
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 60px;
}
.goat-h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   font-size:5.9rem;
   font-weight: 800;
   margin: 0;
}
.banner-img{
    width: 50%;
    padding: 20px 20px;
    /* margin-top: 0; */
}
.banner-img img{
    width: 70%;
    height: auto;
}
.goat-paragraph{
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}
.pink-button{
    padding: 15px 25px;
    border-radius: 48px;
    background:  #FF42A5;
    border: none;
    color: #FFF;
}
.blue-button{
    padding: 15px 30px;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
}
/* online game section style start */
.online-game-container{
    display: flex;
    gap: 24px;
    max-width: 1440px;
    margin: 50px auto 0;
    min-height: 400px;
}
.online-text{
    text-align: center;
}
.online-text-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}
.online-text-prag{
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    padding: 0;

}
.Funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-game-box{
    width: 25%;
    position:relative;
    /* aykane position ta new */
}
/* ay part ta new */
.online-game-box .i-am-special{
    width: 100%;
}
.special-icon-text{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.6);
    color: #FFF;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: opacity 0.25s;
    width: 100%;
    height: 100%;
    visibility: hidden;
}
.img-box{
    position: relative;

}
.img-box:hover .special-icon-text{
   visibility: visible;
   z-index: 2;
}
.special-text{
    font-size: 20px;
    font-weight: 600;
    color: #F948B2;
}
.special-icon{
    font-size: 60px ;
}
.online-game-box img{
    width: 100%;
}
.img-down-title p{
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}
/* play instantly section */
.play-instant{
    max-width: 1400px;
    min-height: 400px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    margin: 70px auto 0;

}
.play-instant-title{
    width: 50%;
    text-align: center;
}
.play-instant-h3{
    font-size: 2rem;
    font-weight: 700;
}
.play-instant-prgh{
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
}

.play-instant-img {
   width: 50%;
   position: relative;
}
.play-instant-img img {
    width: 60%;
    height: 90%;
    margin-left: 80px;
 }

 .play-span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 .play-instant-img-inside{
      text-align: center;
      position: absolute;
      bottom: -20px;
      left:-150px;
 }
 .play-instant-img-inside img{
    width: 30%;
    
 }
 /* button hover section styles */
 .button{
    max-width: 1400px;
    margin: 50px auto;
    display: flex;
    gap: 60px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 300px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
 }

 .all-button{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
    border:none ;
    color: black;
 }
 .button-span{
    color: #0B0223;
    font-size: 1rem;
    font-weight: 600;
 }
 .button-span:hover{
    color:#F948B2;
   
 }
 .all-button:hover{
    background-color: #FFF;
    color: #F948B2;
    border: 1px solid #F948B2;
 }
 .button-hover{
    margin-top: 0;
 }
 /* footer section style */
 .footer-container{
    width: 100%;
    background-color: #0B0223;
    min-height: 500px;
    text-align: center;
    padding-top: 10px;
 }
 .icon-part{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
 }
 .icon-part p{
    font-size: 2.6rem;
    font-weight: 700;
    color: #FFF;
 }
 .icon-part .span-g{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 .icon-next{
    color: #FFF;
    font-size: .8rem;
    font-weight: 600;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
 }
 .small-text-first{
    color: rgba(255, 255, 255, 0.60);
   font-size: .7rem;
   font-weight: 500;
   display: flex;
   gap:60px ;
   justify-content: center;
   align-items: center;
   margin-top: 20px;


 }
 .footer-container .last-p{
    color: rgba(255, 255, 255, 0.60);
    font-size: .7rem;
    font-weight: 500;
    margin-top: 10px;
 }
 .fa-brands{
    font-size: 40px;
 }
 .twt-fb-youtube{
  margin-top: 5px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  
 }

 
 
 
